.my-modal {
  background-color: rgba(0, 0, 0, 0.5);

  .modal-dialog {
    max-width: 350px;
    margin-top: 85px;

    .modal-content {
      background-color: rgba(255, 255, 255, 0.897);
      padding: 30px;
      padding-top: inherit;
      .modal-header {
        padding-right: 0;
        padding-left: 0;
      }
    }
  }
}
